[Unit]
Description=Templerature, humidity and air pressure analytics service 
After=syslog.target network.target
[Service]
Type=simple
User=root
ExecStart=python /home/pi/bme280/bme280-loop.py
Restart=on-abort
[Install]
WantedBy=multi-user.target